@font-face {
  font-family: "Aldrich";
  src: url("../fonts/Aldrich-Regular.ttf");
}
/* line 1, ../../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../../sass/partials/_layout.scss */
body, html {
  min-height: 100%;
  width: 100%;
}

/* line 2, ../../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}
/* line 14, ../../sass/partials/_minh.scss */
.minh-footer-adj {
  min-height: calc( 100vh - 57px );
  min-height: -o-calc( 100vh - 57px );
  min-height: -moz-calc( 100vh - 57px );
  min-height: -webkit-calc( 100vh - 57px );
}

/* line 2, ../../sass/partials/_modules.scss */
.bg-academy {
  background-attachment: scroll;
  background-image: url(../img/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 5, ../../sass/partials/_modules.scss */
.bg-dark-gray {
  background-color: #aaa8b0 !important;
}
/* line 8, ../../sass/partials/_modules.scss */
.bg-form {
  background-attachment: scroll;
  background-image: url(../img/form.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 11, ../../sass/partials/_modules.scss */
.bg-gray {
  background-color: #c4c3c8 !important;
}
/* line 14, ../../sass/partials/_modules.scss */
.bg-home {
  background-attachment: scroll;
  background-image: url(../img/home.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 17, ../../sass/partials/_modules.scss */
.bg-light-gray {
  background-color: #e6e5eb !important;
}

/* line 22, ../../sass/partials/_modules.scss */
.border-dark-gray {
  border-color: #aaa8b0 !important;
}
/* line 25, ../../sass/partials/_modules.scss */
.border-gray {
  border-color: #c4c3c8 !important;
}
/* line 28, ../../sass/partials/_modules.scss */
.border-light-gray {
  border-color: #e6e5eb !important;
}

/* line 33, ../../sass/partials/_modules.scss */
.contact-bg {
  background-attachment: fixed;
  background-image: url(../img/contact.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 38, ../../sass/partials/_modules.scss */
.dance-desc {
  background-attachment: scroll;
  background-image: url(../img/dance/dance_desc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 41, ../../sass/partials/_modules.scss */
.dance-ext {
  background-attachment: scroll;
  background-image: url(../img/dance/dance_ext.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 46, ../../sass/partials/_modules.scss */
.login-form, .register-form {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 51, ../../sass/partials/_modules.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 54, ../../sass/partials/_modules.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 64, ../../sass/partials/_modules.scss */
.text-dark-gray {
  color: #83808b !important;
}
/* line 67, ../../sass/partials/_modules.scss */
.text-gray {
  color: #c4c3c8 !important;
}
/* line 70, ../../sass/partials/_modules.scss */
.text-light-gray {
  color: #e6e5eb !important;
}

/* line 74, ../../sass/partials/_modules.scss */
h1, h2, h3, h4, h5, h6, .nav-link {
  font-family: "Aldrich";
  letter-spacing: 1px;
}

/* line 78, ../../sass/partials/_modules.scss */
header {
  z-index: 10;
}

/* line 81, ../../sass/partials/_modules.scss */
textarea {
  resize: none;
}

@media all and (max-width: 767px) {
  /* line 86, ../../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #fff;
    border: 1px solid #999;
  }
}
/* line 31, ../../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 2, ../../sass/partials/_modules_init.scss */
.comingsoon-s1, .error-s1, .privacy-s1 {
  min-height: calc( 100vh - 0px );
  min-height: -o-calc( 100vh - 0px );
  min-height: -moz-calc( 100vh - 0px );
  min-height: -webkit-calc( 100vh - 0px );
}

/* line 6, ../../sass/partials/_modules_init.scss */
.box-shadow {
  box-shadow: 2px 2px 5px #333 !important;
}

/* line 21, ../../sass/partials/_modules_init.scss */
.opacity-8 {
  opacity: 0.8;
}

/* line 26, ../../sass/partials/_modules_init.scss */
.privacy-container {
  background-color: #333 !important;
  opacity: 0.8;
}

/* line 35, ../../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 4px #000;
}

/* line 41, ../../sass/partials/_modules_init.scss */
.z-index-0 {
  z-index: 0;
}
/* line 44, ../../sass/partials/_modules_init.scss */
.z-index-10 {
  z-index: 10;
}
/* line 47, ../../sass/partials/_modules_init.scss */
.z-index-100 {
  z-index: 100;
}
