.bg{
    &-dark-gray{
        background-color: $color__dark-gray!important;
    }
    &-form{        
        @include set-background($bg__form-img,0,"center right","cover","scroll");

    }
    &-gray{
        background-color: $color__gray!important;
    }
    &-light-gray{
        background-color: $color__light-gray!important;
    }
}
.border{
    &-dark-gray{
        border-color: $color__dark-gray!important;
    }
    &-gray{
        border-color: $color__gray!important;
    }
    &-light-gray{
        border-color: $color__light-gray!important;
    }
}
.contact{
    &-bg{
        @include set-background($bg__contact-img,0,"top center","cover","fixed");
    }
}
.login{
    &-form{
        @include set-background($bg__login-img,0,"top left","cover","fixed");
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
.text{
    &-dark-gray{
        color: $color__dark-gray!important;
    }
    &-gray{
        color: $color__gray!important;
    }
    &-light-gray{
        color: $color__light-gray!important;
    }
}
textarea{
    resize: none;
}