.bg{
    &-academy{
        @include set-background($bg__academy-img,0,"center","cover","scroll");
    }
    &-dark-gray{
        background-color: $color__dark-gray!important;
    }
    &-form{        
        @include set-background($bg__form-img,0,"center right","cover","scroll");
    }
    &-gray{
        background-color: $color__gray!important;
    }
    &-home{
        @include set-background($bg__home-img,0,"bottom right","cover","scroll");
    }
    &-light-gray{
        background-color: $color__light-gray!important;
    }
}
.border{
    &-dark-gray{
        border-color: $color__dark-gray!important;
    }
    &-gray{
        border-color: $color__gray!important;
    }
    &-light-gray{
        border-color: $color__light-gray!important;
    }
}
.contact{
    &-bg{
        @include set-background($bg__contact-img,0,"top center","cover","fixed");
    }
}
.dance{
    &-desc{        
        @include set-background($bg__dance-desc-img,0,"center","cover","scroll");
    }
    &-ext{
        @include set-background($bg__dance-ext-img,0,"center","cover","scroll");
    }
}
.login{
    &-form{
        @include set-background($bg__login-img,0,"top left","cover","scroll");
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
.text{
    &-dark-gray{
        color: darken($color__dark-gray,15%)!important;
    }
    &-gray{
        color: $color__gray!important;
    }
    &-light-gray{
        color: $color__light-gray!important;
    }
}
textarea{
    resize: none;
}